<h1>新規作成</h1>
<div>
  <%= form_with(model: @payment_method, url: user_payment_methods_path(current_user), local: true) do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <%= f.label :provider %>
    <%= f.text_field :provider %>

    <%= f.label :method_type %>
    <%= f.text_field :method_type %>

    <%= f.label :memo %>
    <%= f.text_field :memo %>

    <%= f.submit "作成" %>
  <% end %>
</div>


<% if @payment_methods.any? %>
  <h1>支払い方法</h1>

  <% @payment_methods.each do |method| %>
    <div>
      <span><%= method.provider %></span>
      <span><%= method.method_type %></span>
      <span><%= method.memo %></span>
    </div>

    <%= form_with(model: method, url: user_payment_method_path(current_user, id: method.id), local:true) do |f| %>
      <%= render "shared/error_messages", object: @error_payment_method == method ? @error_payment_method : f.object %>

      <%= f.label :provider %>
      <%= f.text_field :provider %>

      <%= f.label :method_type %>
      <%= f.text_field :method_type %>

      <%= f.label :memo %>
      <%= f.text_field :memo %>

      <%= f.submit "編集" %>
    <% end %>

    <%= button_to "削除",
                  user_payment_method_path(current_user, id: method.id),
                  method: :delete,
                  data: { turbo_confirm: "#{method.provider}を削除してもよろしいですか?"}
    %>
  <% end %>
<% else %>
 <h1>支払い方法が登録されていません</h1>
<% end %>