<div id="payment_methods_container" class="grid" style="--bs-gap: 3rem;">
  <div class="g-col-12 g-col-md-9">
    <% if @payment_methods.any? %>
      <% @payment_methods.each do |method| %>
        <div id="edit_form_<%= method.id %>" class="edit-form-hidden">
          <div id="edit_form">
            <%= form_with(model: method, url: user_payment_method_path(current_user, id: method.id), local: true) do |f| %>
              <%= render "shared/error_messages", object: @error_payment_method == method ? @error_payment_method : f.object %>
              <div class="d-flex justify-content-between">
                <div class="d-flex gap-5">
                  <div class="d-flex flex-column">
                    <%= f.label :provider, "名前", for: "edit_provider_#{method.id}", class: "form-label" %>
                    <%= f.text_field :provider, id: "edit_provider_#{method.id}", class: "form-control" %>
                  </div>
                  <div class="d-flex flex-column">
                    <%= f.label :method_type, "タイプ", for: "edit_type_#{method.id}", class: "form-label" %>
                    <%= f.text_field :method_type, id: "edit_type_#{method.id}", class: "form-control" %>
                  </div>
                  <div class="d-flex flex-column">
                    <%= f.label :memo, "メモ", for: "edit_memo_#{method.id}", class: "form-label" %>
                    <%= f.text_field :memo, id: "edit_memo_#{method.id}", class: "form-control memo-field-wide" %>
                  </div>
                </div>
                <div class="d-flex align-items-end">
                  <div class="d-flex gap-2 edit-button-group">
                    <button type="button" class="btn btn-sm cancel-edit" data-method-id="<%= method.id %>">キャンセル</button>
                    <button type="submit" class="btn btn-sm" name="commit" id="edit_payment_method_submit" data-disable-with="更新">
                      更新
                    </button>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">名前</th>
            <th scope="col">タイプ</th>
            <th scope="col">メモ</th>
            <th scope="col">追加日</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @payment_methods.each do |method| %>
            <tr id="payment_method_<%= method.id %>">
              <td><%= method.provider %></td>
              <td><%= method.method_type %></td>
              <td><%= method.memo %></td>
              <td><%= method.created_at.strftime('%Y年%m月%d日') %></td>
              <td>
                <div class="d-flex">
                  <div type="button" id="edit_button_<%= method.id %>" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="編集" data-bs-custom-class="custom-tooltip">
                    <i class="bi bi-pencil"></i>
                  </div>
                  <%= link_to user_payment_method_path(current_user, method.id), 
                    data: { 
                      turbo_method: :delete,
                      turbo_confirm: "#{method.provider}を削除してもよろしいですか?",
                      bs_toggle: "tooltip",
                      bs_title: "削除",
                      bs_placement: "bottom",
                      bs_custom_class: "custom-tooltip"
                    },
                    id: "delete_button_#{method.id}" do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h1>支払い方法が登録されていません</h1>
    <% end %>
  </div>
  <div class="g-col-12 g-col-md-3">
    <div id="new_payment_method_form">
      <h3 class="mb-4">新規支払い方法</h3>
      <%= form_with(model: @payment_method, url: user_payment_methods_path(current_user)) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div>
          <%= f.label :provider, "名前", for: "new_payment_method_provider", class: "form-label" %>
          <%= f.text_field :provider, id: "new_payment_method_provider", class: "form-control", placeholder: "例: 〇〇カード" %>
        </div>
        <div>
          <%= f.label :method_type, "タイプ", for: "new_payment_method_method_type", class: "form-label" %>
          <%= f.text_field :method_type, id: "new_payment_method_method_type", class: "form-control", placeholder: "例: クレジッドカード" %>
        </div>
        <div>
          <%= f.label :memo, "メモ", for: "new_payment_method_memo", class: "form-label" %>
          <%= f.text_area :memo, id: "new_payment_method_memo", class: "form-control", placeholder: "カード番号は入力しないでください", rows: 6 %>
        </div>
        <button type="submit" class="btn" name="commit" id="submit_button" data-disable-with="支払い方法を追加">
          <i class="bi bi-plus-lg text-white me-2"></i>
          支払い方法を追加
        </button>
      <% end %>
    </div>
  </div>
</div>