<div id="tags_container">
  <div class="grid" style="--bs-gap: 3rem;">
    <div id="tags_list" class="g-col-12 g-col-md-9">
      <div class="grid" style="--bs-gap: 1rem;">
        <%= render @tags %>
      </div>
    </div>
    <div class="g-col-12 g-col-md-3">
      <div id="new_tag_form">
        <h3 class="mb-4">新規タグ</h3>
        <%= form_with(model: @tag, url: user_tags_path(current_user)) do |f| %>
          <%= render "shared/error_messages", object: f.object %>
          <div>
            <%= f.label :name, "タグ名" %>
            <%= f.text_field :name, class: "form-control", placeholder: "例: 音楽" %>
          </div>
          <button type="submit" class="btn submit-btn" name="commit" id="new_tag_submit" data-disable-with="タグを作成">
            <i class="bi bi-plus-lg text-white me-2"></i>
            タグを作成
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>