<div class="g-col-12 g-col-md-3">
  <div class="card p-3" id="subscription-card">
    <div class="card-header">
      <h3><%= link_to subscription.name, user_subscription_path(current_user, subscription) %></h3>
      <span><%= subscription.plan_name %></span>
    </div>
    <hr>
    <div class="card-body">
      <div class="info-group">
        <span>
          <i class="bi bi-calendar-range me-2"></i>期間
        </span>
        <p class="card-text"><%= subscription.start_date.strftime('%Y年%m月%d日') %> ~ <%= subscription.end_date.strftime('%Y年%m月%d日') %></p>
      </div>
      <div class="info-group">
        <span>
          <i class="bi bi-credit-card me-2"></i><%= Subscription.human_attribute_name(:billing_date) %>
        </span>
        <p class="card-text"><%= subscription.billing_date.strftime('%Y年%m月%d日') %></p>
      </div>
      <div class="info-group">
        <span>
          <i class="bi bi-calendar-plus me-2"></i><%= Subscription.human_attribute_name(:created_at) %>
        </span>
        <p class="card-text"><%= subscription.created_at.strftime('%Y年%m月%d日') %></p>
      </div>
      <div class="d-flex justify-content-end">
        <h5 class="card-text price">¥<%= number_with_delimiter(subscription.price.to_i) %> / 月</h5>
      </div>
    </div>
    <% if subscription.payment_method.present? || subscription.tags.any? %>
      <hr>
      <div class="card-footer">
        <div class="footer-content">
          <% if subscription.tags.any? %>
            <div class="tag-container">
              <% subscription.tags.each do |tag| %>
                <span class="badge bg-primary bg-opacity-25 text-primary border border-primary fs-6"><%= tag.name %></span>
              <% end %>
            </div>
          <% end %>
          <% if subscription.payment_method.present? %>
            <div class="info-group">
              <span><%= PaymentMethod.model_name.human %></span>
              <p><%= subscription.payment_method.provider %></p>
            </div>
          <% end %>
        </div>
      </div>
      <% if content_for?(:subscription_actions) %>
        <%= yield :subscription_actions %>
      <% end %>
    <% end %>
  </div>
</div>