<div>
  <% if subscription.tags.any? %>
    <div>
      <% subscription.tags.each do |tag| %>
        <span><%= tag.name %></span>
      <% end %>
    </div>
  <% end %>
  <% if subscription.payment_method.present? %>
    <span><%= subscription.payment_method.provider %></span>
    <span><%= subscription.payment_method.method_type %></span>
    <% if subscription.payment_method.memo.present? %>
      <span><%= subscription.payment_method.memo %></span>
    <% end %>
  <% end %>
  <h3><%= subscription.subscription_name %></h3>
  <p>プラン: <%= subscription.plan_name %></p>
  <p>料金: <%= subscription.price %></p>
  <p>開始日: <%= subscription.start_date %></p>
  <p>終了日: <%= subscription.end_date %></p>
  <p>請求日: <%= subscription.billing_date %></p>
  <div>
    <%= link_to "編集", edit_user_subscription_path(current_user, id: subscription.id) %>
    <%= button_to "削除",
                  user_subscription_path(current_user, id: subscription.id),
                  method: :delete,
                  data: { turbo_confirm: "#{subscription.subscription_name}を削除してもよろしいですか?"}
    %>
  </div>
</div>