<h1>サブスクリプション一覧</h1>
<%= link_to "新規作成", new_user_subscription_path(current_user) %>
<div>
  <%= form_with(model: @search_subscription_form, url: user_subscriptions_path(current_user),scope: :q, method: :get) do |f| %>
    <%= render "shared/error_messages", object: @search_subscription_form %>
    <div>
      <div>
        <%= f.label :search_column, "検索するカラム" %>
        <%= f.select :search_column, [["選択してください", ""],
                                      %w[サブスクリプション名 name],
                                      %w[プラン名 plan_name],
                                      %w[料金 price],
                                      %w[開始日 start_date],
                                      %w[終了日 end_date],
                                      %w[請求日 billing_date]] %>
        <%= f.label :search_value, "検索値" %>
        <%= f.search_field :search_value, placeholder: "検索値を入力してください" %>
      </div>
      <div>
        <%= f.label :first_column, "並び替え（優先）" %>
        <div>
          <%= f.select :first_column, [["選択してください", ""],
                                       %w[サブスクリプション名 name],
                                       %w[プラン名 plan_name],
                                       %w[料金 price],
                                       %w[開始日 start_date],
                                       %w[終了日 end_date],
                                       %w[請求日 billing_date]] %>
          <%= f.select :first_direction, [["選択してください", ""],
                                          %w[降順 desc],
                                          %w[昇順 asc]], selected: "desc" %>
        </div>
      </div>
      <%= f.label :second_column, "並び替え（第2条件）" %>
      <div>
        <div>
          <%= f.select :second_column, [["選択してください", ""],
                                        %w[サブスクリプション名 name],
                                        %w[プラン名 plan_name],
                                        %w[料金 price],
                                        %w[開始日 start_date],
                                        %w[終了日 end_date],
                                        %w[請求日 billing_date]] %>
          <%= f.select :second_direction, [["選択してください", ""],
                                           %w[降順 desc],
                                           %w[昇順 asc]], selected: "desc" %>
        </div>
      </div>
    </div>
    <%= link_to "クリア", user_subscriptions_path(current_user) %>
    <%= f.submit "検索" %>
  <% end %>
  <div>
  </div>
  <% if @subscriptions.any? %>
    <%= render @subscriptions %>
    <%= will_paginate @subscriptions%>
  <% else %>
    <div>
      <h3>登録されたサブスクリプションはありません</h3>
      <%= link_to "新規作成", new_user_subscription_path(current_user) %>
    </div>
  <% end %>
</div>