<% content_for :subscription_actions do %>
  <div class="d-flex justify-content-end gap-3">
    <%= link_to "編集", edit_user_subscription_path(current_user, @subscription), class: "btn btn-outline-secondary" %>
    <%= link_to "削除", user_subscription_path(current_user, @subscription), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-secondary" %>
  </div>
<% end %>

<div class="container pt-5">
  <%= render @subscription, link_path: edit_user_subscription_path(@user, @subscription)%>
  <div class="mt-5 p-4 text-white statistics-info">
    <h2>統計情報</h2>
    <div class="d-flex justify-content-between gap-3 mt-4">
      <div class="p-4 w-100 statistics-info-card">
        <div class="d-flex align-items-center justify-content-between mb-2">
          <h5 class="mb-0">累計支払額</h5>
          <i class="bi bi-cash-coin ms-2 statistics-icon-blue"></i>
        </div>
        <p>¥<%= number_with_delimiter(@subscription.payments.total_amount.to_i) %></p>
      </div>
      <div class="p-4 w-100 statistics-info-card">
        <div class="d-flex align-items-center justify-content-between mb-2">
          <h5 class="mb-0">次回支払額</h5>
          <i class="bi bi-credit-card-2-front ms-2 statistics-icon-purple"></i>
        </div>
        <p>¥<%= number_with_delimiter(@subscription.price.to_i) %></p>
      </div>
      <div class="p-4 w-100 statistics-info-card">
        <div class="d-flex align-items-center justify-content-between mb-2">
          <h5 class="mb-0">利用月数</h5>
          <i class="bi bi-calendar3 ms-2 statistics-icon-green"></i>
        </div>
        <p>13ヶ月</p>
      </div>
    </div>
  </div>
  <div class="pb-5">
    <div class="mt-5 p-4 text-white border border-dark-subtle rounded">
      <h2>支払い履歴</h2>
      <div class="mt-4 border-start border-end border-top rounded border-dark-subtle">
        <table class="table rounded overflow-hidden bg-color-navy">
          <thead>
            <tr>
              <th scope="col" class="table-header-bg-dark p-3">支払日</th>
              <th scope="col" class="table-header-bg-dark p-3">プラン名</th>
              <th scope="col" class="table-header-bg-dark p-3">金額</th>
              <th scope="col" class="table-header-bg-dark p-3">期間</th>
              <th scope="col" class="table-header-bg-dark p-3">支払い方法</th>
            </tr>
          </thead>
          <tbody>
            <% @subscription.payments.includes(:payment_method).order(billing_date: :desc).each do |payment| %>
              <tr>
                <td class="table-bg-navy p-3"><%= payment.billing_date.strftime("%Y年%m月%d日") %></td>
                <td class="table-bg-navy p-3"><%= payment.plan %></td>
                <td class="table-bg-navy p-3">¥<%= number_with_delimiter(payment.amount.to_i) %></td>
                <td class="table-bg-navy p-3"><%= payment.created_at.strftime("%Y年%m月%d日") %></td>
                <td class="table-bg-navy p-3"><%= payment.payment_method.provider %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>